table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-mdc-header-row {
    background-color: #f4f3ef !important;
}

table {
    margin: 0px 0px 15px 50px;
}

.paginator-container {
    display: flex;
    justify-content: flex-end;
}

.space {
    margin-right: 5px;
}

.active {
    color: green;
    font-weight: bold;
}

.inactive {
    color: red;
    font-weight: bold;
}