<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a>
                        Doon Properties
                    </a>
                    Buy Sell properties in Dehradoon
                </li>
                <li>
                    <a>
                       T&C
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, <a>Doon Properties</a>
        </div>
    </div>
</footer>
